 /*
 li {
  display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  */
  /* Change the link color to #111 (black) on hover */
 /* li a:hover {
    background-color: #111;
  }
*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e2e9;
    color: #333;
}




.flex-container {
    display: flex;
    gap: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

*/
/* 
p {
  border:1px solid rgb(176, 216, 16) ;
  margin: 5%;
  padding: none;
  background-color: rgb(8, 156, 124);
  font-size: 14px;
  color: rgb(25, 25, 26);
 

}*/